* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.li_nav {
  display: inline-block;
  padding: 47px 1rem;
  height: 100%;
  border-bottom: 7px solid transparent;
}

.li_nav:hover {
  border-bottom: 7px solid #0282f9;
}

.li_nav:hover .link_nav {
  color: #0282f9;
}

.li_nav .link_nav {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.row {
  height: 400px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.logo_big {
  -o-object-fit: contain;
  object-fit: contain;
  height: 110%;
}

.col_left {
  display: flex;
}

.list_foot {
  color: white;
  list-style: none;
  margin: 1rem;
}

.title_list_foot {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.li {
  padding: 0.15rem;
}

.link_footer {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.edit {
  background-color: #303030;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}

.col_edit_right {
  display: flex;
  align-items: center;
}

.logos {
  padding: 0 0.4rem;
}

.follow {
  color: #0282f9;
  padding-right: 1.4rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.button {
  border: 2px solid #0282f9;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
}

.jumbo {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position-x: center;
  position: relative;
}

.current {
  background-color: #0282f9;
  width: 12rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: white;
  text-align: center;
  font-weight: 800;
  position: absolute;
  bottom: -1.25rem;
  left: 10rem;
}

.row_series {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: medium;
}

.row_blue {
  height: 120px;
  background-color: #0282f9;
  color: white;
  display: flex;
  justify-content: center;
}

.container_series {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.container2 {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  gap: 1rem;
}

.ul_dc_logo {
  display: flex;
  list-style: none;
}

.li_dc_logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.li_dc_logo .link_dc_logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.dc_logo_pictures {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

.center {
  text-align: center;
  width: 100%;
}

.load {
  background: #0282f9;
  border: none;
  color: white;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
}

.card {
  width: calc(16.6666666667% - 1rem);
}

.series {
  width: 100%;
}

.title_series {
  color: white;
  font-size: medium;
  font-weight: 500;
  margin-top: 8px;
  text-transform: uppercase;
}

/* COMIC PAGE */
.comic_little_img {
  width: 192px;
  height: 291px;
  position: absolute;
  bottom: -3.25rem;
  left: 10rem;
}

.blue_row_img {
  height: 4rem;
  background-color: #0282f9;
}

.row_series_comic {
  background-color: white;
  height: 460px;
  font-size: medium;
}

.container2_comic {
  width: 70%;
  margin: auto;
  display: flex;
  padding: 3rem 0;
}

.green_bar {
  background-color: #55ba59;
  display: flex;
  align-items: center;
  height: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.price_bar {
  border: 1px solid black;
  padding: 0 1rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.title_comic {
  margin: 1rem 0;
}

.description_comic {
  margin-right: 2rem;
}

.border {
  border: 1px solid black;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  color: #bafd9c;
}

.uppercase {
  text-transform: uppercase;
}

.paragrafo {
  line-height: 2rem;
  color: gray;
}

.advertisement {
  float: right;
  font-weight: 600;
  margin-bottom: 5px;
  color: gray;
}

.white_price {
  color: white;
}

.available {
  text-transform: uppercase;
}

.row_series_comic_gray {
  background-color: #f6f6f6;
  height: 460px;
  font-size: medium;
  border-top: 1px solid lightgray;
}

.col_left_comic {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.titoli_gray {
  margin-bottom: 2rem;
}

hr {
  background-color: lightgray;
}

.artist_space {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.color_blue_dc {
  color: #0282f9;
  width: 70%;
}

.color_gray_dc {
  color: gray;
  width: 70%;
}

.margin_left {
  margin-left: 4rem;
}

.became_gray {
  background-color: #f6f6f6;
  border-top: 1px solid lightgray;
}

.height_100 {
  height: 100%;
}

.filter {
  filter: brightness(0.5);
}

.change_link {
  color: gray !important;
  padding-bottom: 1.2rem;
  margin-right: 20px;
}

.trasform_li {
  flex-direction: row-reverse;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.link_to_comic {
  text-decoration: none;
}